<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Jekyll v3.8.5">
        <title>{% block title %}Blog de BArcos{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/sticky-footer-navbar.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-tagsinput.css') }}">
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <a class="navbar-brand" href="{{ path('app_homepage') }}">BArcos blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% if app.user is null %}

                        {% else %}
                            {#
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin') }}"><strong> Admin</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_post') }}"> post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('new_post') }}">Nuevo post</a>
                            </li>

                        {% endif %}
                        #}

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('new_post') }}">Nuevo post</a>
                            </li>


                    {% endif %}



                </ul>

                {% if app.user is null %}
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('app_register') }}">Register</a>
                </li>
                </ul>
                {% else %}
                    {#{{render(controller('App\\Controller\\TagController::searcherForm',{'id': post.id}))}}#}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-item dropdown-toggle btn btn-secondary btn-lg" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-user"></span> {{ app.user.username }}
                        </a>

                        <div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item">Mi cuenta</a>
                            <a class="dropdown-item" href="{{ path('app_post') }}">Mis posts</a>
                            {% if is_granted("ROLE_ADMIN") %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item " href="{{ path('app_admin') }}"><strong> Admin</strong></a>
                                <a class="dropdown-item" href="admin/users">Administrar users</a>
                                <a class="dropdown-item" href="{{ path('app_allPost') }}"> Administrar post</a>
                                <a class="dropdown-item" href="admin/tags">Administrar tags</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                Cerrar Sesion <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>

                </ul>
                {% endif %}

            </div>
        </nav>
    </header>
    <main role="main" class="flex-shrink-0">
        <div class="container">
            {% block body %}{% endblock %}
            <div id="fmessage">
               {# {% for messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}"></div>
                    {% endfor %}
                {% endfor %}#}
            </div>
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">BArcos blog 2019.</span>
        </div>
    </footer>

    {% block footer %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>






